{% extends 'base.html' %}
{% block title %}Add Product{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Add New Product</h2>
    <form method="POST" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label>Name:</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Price:</label>
            <input type="number" name="price" step="0.01" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Category:</label>
            <select name="category" class="form-select" required>
                <option value="">-- Select Category --</option>
                {% for cat in categories %}
                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
          <label>Description:</label>
                <textarea name="description" class="form-control" rows="4" placeholder="Enter product description" required></textarea>
        </div>

     <div class="mb-3">
            <label>Image:</label>
            <input type="file" name="image" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Add Product</button>
    </form>
</div>
{% endblock %}
