{% extends 'base.html' %}
{% block content %}

<div class="container mt-5" style="max-width: 600px;">
     <a href="/products/" class="btn btn-outline-success my-3">
       ← Back to Products
</a>
    <h3 class="mb-4">🔒 Change Password</h3>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-2">Change Password</button>
    </form>
</div>

{% endblock %}
