{% extends "base.html" %}
{% block title %}Net Banking{% endblock %}

{% block content %}
<div class="container my-5" style="max-width:500px;">
    <h2 class="text-success fw-bold text-center">Net Banking</h2>
    <form class="mt-4">
        <div class="mb-3">
            <label class="form-label">Select Bank</label>
            <select class="form-select">
                <option>HDFC Bank</option>
                <option>ICICI Bank</option>
                <option>SBI</option>
                <option>Axis Bank</option>
                <option>Kotak Mahindra</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success w-100 fw-bold">Proceed to Bank</button>
    </form>
</div>
{% endblock %}
